<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>

      <div class="right social-links">

        <% if (theme.facebook){ %>
          <a id="nav-facebook-link" class="nav-icon facebook-icon" href="<%- theme.facebook %>" title="Facebook" target="_blank"></a>
        <% } %>

        <% if (theme.trello){ %>
          <a id="nav-ttrello-link" class="nav-icon trello-icon" href="<%- theme.trello %>" title="Trello" target="_blank"></a>
        <% } %>

      </div>

    </div>
  </div>
</footer>